p{
	 text-align:center;
     color: white; 
}

.two{
	text-align:center; 
	color: black; 
}

h1{
	color: white;
	font-weight: 400;
  text-align: center;
}

@media screen and (max-height: 600px) and (max-width: 300px){
	.left, .main, .right{
	 	width: 100%;
		height: 100%;
	}
}
  
.custom-select {
	position: relative;
	font-family: Arial;
	text-align: center;
	border-radius: 30px;
	float: left;
	left: 14%;
	margin: 0 auto;
	width:200px;
  }
  
  .custom-select select {
	display: none;
  }
  
  .select-selected {
	background-color: DodgerBlue;
	border-radius: 30px;
  }
  
 
  .select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
  }
  

  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
  }
  
  .select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
  }

  
  .select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	border-radius: 30px;
  }

  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }
